*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#09111d;
color:white;
}

.background{

position:fixed;
height:100%;
width:100%;

background:
radial-gradient(
circle at top left,
#7e22ce,
transparent
),

radial-gradient(
circle at bottom right,
#2563eb,
transparent
);

z-index:-1;

}

.container{

width:90%;
margin:auto;
padding:30px;

}

.upload{

display:flex;
gap:20px;

margin:30px 0;

}

button{

padding:12px 25px;

border:none;

border-radius:30px;

background:
linear-gradient(
45deg,
#7c3aed,
#2563eb
);

color:white;

cursor:pointer;

}

.stats{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

margin:40px 0;

}

.card{

background:
rgba(255,255,255,.08);

padding:25px;

border-radius:20px;

text-align:center;

backdrop-filter:
blur(10px);

}

.charts{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;

}

.chart-card{

background:
rgba(255,255,255,.08);

padding:20px;

border-radius:20px;

}

canvas{

background:white;

padding:15px;

border-radius:15px;

}

.tableCard{

margin-top:40px;

background:
rgba(255,255,255,.08);

padding:20px;

border-radius:20px;

overflow:auto;

}

table{

width:100%;
border-collapse:collapse;

}

td,th{

padding:10px;

border-bottom:
1px solid rgba(
255,255,255,.2);

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:60px;

margin-bottom:40px;

background:
rgba(255,255,255,.06);

backdrop-filter:blur(18px);

border-radius:35px;

position:relative;

overflow:hidden;

}

.heroText{

width:60%;

}

.hero h1{

font-size:55px;

margin-bottom:20px;

}

.hero p{

font-size:18px;

line-height:1.8;

opacity:.85;

}

.heroGlow{

width:250px;
height:250px;

border-radius:50%;

background:
linear-gradient(
45deg,
#7c3aed,
#2563eb
);

filter:blur(70px);

opacity:.7;

}

.infoGrid{

display:grid;

grid-template-columns:
1fr 1fr;

gap:30px;

margin-bottom:40px;

}

.infoCard{

background:
rgba(255,255,255,.08);

padding:35px;

border-radius:30px;

backdrop-filter:
blur(15px);

}

.topIcon{

font-size:45px;

margin-bottom:20px;

}

.infoCard h2{

margin-bottom:15px;

}

.infoCard p{

line-height:1.8;

opacity:.85;

}

pre{

background:black;

margin-top:20px;

padding:20px;

border-radius:20px;

overflow:auto;

}

.uploadBox{

background:
rgba(255,255,255,.08);

padding:40px;

border-radius:30px;

text-align:center;

margin-bottom:40px;

backdrop-filter:
blur(15px);

}

.uploadBox h2{

margin-bottom:10px;

}

.uploadBox p{

margin-bottom:25px;

opacity:.7;

}

input{

padding:12px;

margin-right:15px;

}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

gap:30px;

}

.heroText{

width:100%;

}

.infoGrid{

grid-template-columns:1fr;

}

}